.right-box {
  margin: 10px;
  padding: 3px;
  width: 95%;
  height: 100vh;
  /* background-color: #fcd1d1; */
  /* border-radius: 10px; */
}
.heading-task {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #fe7e6d;
}
.left-up {
  padding-top: 0;
  height: 25%;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.nav-buttons {
  margin-left: 15%;
  width: fit-content;
}

.sug-scroll-left {
  height: 60%;
  overflow: scroll;
}
.sug-scroll-left::-webkit-scrollbar {
  display: none;
}
.glass {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  z-index: 2;
  backdrop-filter: blur(2rem);
}
.heading-task {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #fe7e6d;
}

.leftfriends::-webkit-scrollbar {
  display: none;
}
.leftfriends::-webkit-scrollbar {
  display: none;
}
.leftfriends .order::-webkit-scrollbar {
  display: none;
}
.RankOneImg {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  width: 120px;
  height: 120px;
  border-radius: 5px;
  border: 5px solid black;
  margin: 0px;
}
.RankTwoImg {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  width: 80px;
  height: 80px;
  margin-top: 20px;
  border-radius: 5px;
  border: 5px solid black;
}
.RankThreeImg {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  width: 80px;
  height: 80px;
  margin-top: 20px;
  border-radius: 5px;
  border: 5px solid black;
}
.LeaderboardTx {
  font-weight: bolder;
  color: #fe7e6d;
  font-size: 20px;
}
.CrowenImg {
  margin: 0px;
  width: 150px;
  height: 60px;
}
.Crowen {
  width: fit-content;
  margin: auto;
}
