.left-sidebar {
  margin-top: 20px;
  width: 25%;
  float: left;
}
.right-sidebar {
  margin-top: 20px;
  width: 25%;
  float: right;
}
.post {
  overflow-y: scroll;
  margin: auto;
  margin-top: 0px;
  height: 100vh;
  width: 50%;
}
.post::-webkit-scrollbar {
  display: none;
}
.home-body {
  height: 100vh;
  overflow-y: hidden;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
}
@media only screen and (max-width: 1026px) {
  .left-sidebar {
    display: none;
  }
  .right-sidebar {
    display: none;
  }
  .post {
    width: 90%;
  }
}
