.img-sugg {
  border-radius: 30%;
  height: 60px;
  width: 60px;
  float: right;
  margin-bottom: 5px;
}
.container {
  margin-top: 10px;
  height: fit-content;
  width: 100%;
}
.sug-name {
  font-size: 0.9em;
  font-weight: bold;
}
.sug-username {
  font-size: 0.6em;
}

.sug-similarity{
  font-size: 0.8em;
  color: #1976d2;
}
