.lbusers {
  height: 100px;
  border: 2px;

  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}
.lbuserrank {
  font-weight: bolder;
  font-size: 20px;
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: end;
}
.lbuserimgbox {
  display: flex;
  justify-content: center;
}
.lbuserimg {
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  margin: auto;
}
.lbnamebox {
  margin: auto;
}
.lbusername {
}
.lbname {
  color: #ff6363;
  font-size: larger;
  font-weight: bolder;
}

.lbuserpoints {
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 40px;
  font-weight: bold;
}
.wcar {
  width: fit-content;
  background: #d9d7f1;
  margin: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}
.wpoints {
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 30px;
  color: #ff6363;
}
.wimg {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.wrank {
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 40px;
  font-weight: bolder;
}
.winfo {
  justify-content: flex-start;
  margin: auto;
}
.wname {
  color: #ff6363;
  font-size: 25px;
  font-weight: bolder;
}
.wusername {
}
.wrankbadge {
}
.wimgbox {
}
.wbadge {
  width: 120px;
  z-index: 2;

  position: absolute;
}
.score {
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 17px;
  font-weight: bold;
  color: black;
}
.rankCard {
  justify-self: flex-end;
  background: #219f94;
  color: white;
  margin-left: 25px;
  border-radius: 5px;
}
.lbbrand {
  font-size: 40px;
  font-weight: bolder;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  display: flex;
  justify-content: flex-start;
  margin-top: 90px;
}
.brandimg {
  height: 150px;
}

// html {
//   --black: #000000;
//   --white: #ffffff;
//   --darkest: #101010;
//   --darker: #16171a;
//   --dark: #a3afbf;
//   --medium: #dfe7ef;
//   --light: #cad4e1;
//   --lighter: #f5f8fc;
//   --lightest: var(--white);

//   --primary: #7b16ff;
//   --primary-light: #ddd9ff;
//   --primary-trans: rgba(123, 22, 255, 0.4);

//   --yellow: #fdcb6e;
//   --orange: #e17055;
//   --teal: #00cec9;

//   --bg: var(--darkest);
//   --color: var(--lightest);
//   --surface: var(--darker);
// }

// $states: (
//   light: var(--lightest),
//   primary: var(--primary),
//   dark: var(--darkest),
//   transparent: transparent,
//   medium: var(--medium),
//   yellow: var(--yellow),
//   orange: var(--orange),
//   teal: var(--teal),
//   light-gradient: linear-gradient(to top, var(--light), var(--lightest)),
// );

// $spacing-unit: 0.8rem;

// $spacers: (
//   2: $spacing-unit/4,
//   4: $spacing-unit/2,
//   8: $spacing-unit,
//   16: $spacing-unit * 2,
//   24: $spacing-unit * 3,
//   32: $spacing-unit * 4,
// );

// html {
//   font-size: 62.5%;
//   box-sizing: border-box;
// }

// *,
// *:before,
// *:after {
//   box-sizing: inherit;
// }

// html,
// body {
//   width: 100%;
//   height: 100%;
// }

// body {
//   background: var(--bg);
//   color: var(--color);
//   font-size: 1.6rem;
//   font-family: "Overpass Mono", system-ui;
// }

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-weight: 400;
//   text-transform: uppercase;
//   letter-spacing: 0.05em;
//   margin-top: $spacing-unit;
//   margin-bottom: $spacing-unit;
//   font-family: "Oswald", system-ui;
// }

// a {
//   color: var(--primary);
//   text-decoration: none;
//   transition: all 120ms ease-out 0s;
//   display: inline-block;
//   border-radius: $spacing-unit/2;
//   &:hover {
//     background: var(--primary-trans);
//     color: var(--primary-light);
//     box-shadow: 0px 0px 0px $spacing-unit/2 var(--primary-trans);
//   }
// }

// button,
// textarea,
// input,
// select {
//   font-family: inherit;
//   color: inherit;
//   &:active,
//   &:focus {
//     outline: 0;
//   }
// }

// button,
// select {
//   cursor: pointer;
// }

// .l-wrapper {
//   width: 100%;
//   max-width: 960px;
//   margin: auto;
//   padding: $spacing-unit * 2 $spacing-unit * 2 $spacing-unit * 4;
// }

// .l-grid {
//   display: grid;
//   grid-template-columns: 1fr 2fr;
//   grid-column-gap: $spacing-unit * 2;
//   grid-row-gap: $spacing-unit * 2;
//   position: relative;
//   @media screen and(max-width: 700px) {
//     grid-template-columns: 1fr;
//   }
// }

// .c-header {
//   padding: $spacing-unit * 2 0;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   margin-bottom: 2.4rem;
//   position: relative;
//   &:before {
//     content: "";
//     position: absolute;
//     bottom: 0;
//     right: 0;
//     left: 0;
//     height: $spacing-unit/4;
//     background: var(--primary-trans);
//   }
// }

// .c-card {
//   border-radius: $spacing-unit;
//   background: var(--surface);
//   width: 100%;
//   margin-bottom: $spacing-unit * 2;
//   box-shadow: 0px 0px 0px 1px rgba(white, 0.12);
//   &__body,
//   &__header {
//     padding: $spacing-unit * 3;
//     @media screen and(max-width: 700px) {
//       padding: $spacing-unit * 1.5;
//     }
//   }
//   &__header {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     padding-bottom: 0;
//     @media screen and(max-width: 700px) {
//       flex-direction: column;
//     }
//   }
// }

// .c-place {
//   @media screen and(max-width: 700px) {
//     transform: translateY(4px);
//   }
// }

// .c-logo {
//   display: inline-block;
//   width: 100%;
//   max-width: $spacing-unit * 22;
//   user-select: none;
// }

// .c-list {
//   margin: 0;
//   padding: 0;
//   list-style-type: none;
//   &__item {
//     padding: $spacing-unit * 2 0;
//     .c-flag {
//       margin-top: $spacing-unit;
//     }
//     @media screen and(max-width: 700px) {
//       .c-flag {
//         margin-top: $spacing-unit/2;
//       }
//     }
//   }
//   &__grid {
//     display: grid;
//     grid-template-columns: $spacing-unit * 6 3fr 1fr;
//     grid-column-gap: $spacing-unit * 3;
//     @media screen and (max-width: 700px) {
//       grid-template-columns: $spacing-unit * 4 3fr 1fr;
//       grid-column-gap: $spacing-unit;
//     }
//   }
// }

// .c-media {
//   display: inline-flex;
//   align-items: center;
//   &__content {
//     padding-left: $spacing-unit * 2;
//     @media screen and(max-width: 700px) {
//       padding-left: $spacing-unit;
//     }
//   }
//   &__title {
//     margin-bottom: $spacing-unit/2;
//     @media screen and(max-width: 700px) {
//       font-size: 1.4rem;
//     }
//   }
// }

// .c-avatar {
//   $size: $spacing-unit * 6;
//   display: inline-flex;
//   align-items: center;
//   justify-content: center;
//   width: $size;
//   height: $size;
//   box-shadow: inset 0px 0px 0px 1px currentColor;
//   border-radius: 50%;
//   background: var(--lightest);
//   color: var(--dark);
//   @media screen and (max-width: 700px) {
//     $size: $spacing-unit * 4;
//     width: $size;
//     height: $size;
//   }
//   &--lg {
//     $size: $spacing-unit * 12;
//     width: $size;
//     height: $size;
//   }
// }

// .c-button {
//   display: inline-block;
//   background: var(--dark);
//   border: 0;
//   border-radius: $spacing-unit/2;
//   padding: $spacing-unit * 1.5 $spacing-unit * 2.5;
//   transition: all 120ms ease-out 0s;
//   &--block {
//     display: block;
//     width: 100%;
//   }
//   &:hover,
//   &:focus {
//     filter: brightness(0.9);
//   }
//   &:focus {
//     box-shadow: 0px 0px 0px $spacing-unit/2 var(--primary-trans);
//   }
//   &:active {
//     box-shadow: 0px 0px 0px $spacing-unit/2 var(--primary-trans),
//       inset 0px 0px $spacing-unit rgba(black, 0.2);
//     filter: brightness(0.8);
//   }
// }

// .c-select {
//   background: transparent;
//   padding: $spacing-unit * 1.5;
//   appearance: none;
//   font-size: 1.4rem;
//   border-color: rgba(white, 0.2);
//   transition: all 120ms ease-out 0s;
//   &:hover {
//     background: var(--darkest);
//   }
// }

// .c-flag {
//   $size: $spacing-unit * 4;
//   display: inline-flex;
//   align-items: center;
//   justify-content: center;
//   width: $size;
//   height: $size;
//   background: var(--lightest);
//   color: var(--dark);
//   border-radius: $spacing-unit/2;
//   @media screen and (max-width: 700px) {
//     $size: $spacing-unit * 3;
//     width: $size;
//     height: $size;
//   }
// }

// @each $key, $val in $states {
//   .c-button--#{$key} {
//     background: $val;
//   }
// }

// .u-text--title {
//   font-family: "Oswald", system-ui;
// }

// .u-text {
//   &--left {
//     text-align: left;
//   }
//   &--center {
//     text-align: center;
//   }
//   &--right {
//     text-align: right;
//   }
// }

// @each $key, $val in $states {
//   .u-bg--#{$key} {
//     background: $val !important;
//   }
//   .u-text--#{$key} {
//     color: $val !important;
//   }
// }

// .u-display--flex {
//   display: flex;
// }

// $flex-directions: (center, flex-end, flex-start, space-between);

// @each $direction in $flex-directions {
//   .u-align--#{$direction} {
//     align-items: $direction;
//   }
//   .u-justify--#{$direction} {
//     justify-content: $direction;
//   }
// }

// .u-text--small {
//   font-size: 1.4rem;
// }

// $directions: (
//   l: left,
//   r: right,
//   b: bottom,
//   t: top,
// );

// @each $key, $val in $spacers {
//   @each $abbr, $direction in $directions {
//     .u-p#{$abbr}--#{$key} {
//       padding-#{$direction}: $val;
//     }
//     .u-m#{$abbr}--#{$key} {
//       margin-#{$direction}: $val;
//     }
//   }
// }
